<div class="topbar-wrapper">
  <div class="topbar">
    <div class="brand">
      <span class="hamb"><div></div></span>
      <div class="logo-text">MAN99</div>
    </div>

    <div class="actions">
      <a class="btn login" href="/login">Login</a>
      <a class="btn register" href="/signup">Register</a>
    </div>
  </div>
</div>