<div class="navbar-main" id="sidenav">
<div class="navbar">
  <div class="sidenav-header">
      <span class="titlelogo">MAN99</span>
      <span class="closenav" id="closenav">&times;</span>
    </div>
 <!-- <h2>Kalabd</h2>
  <p>Balance: 0 ржЯ</p>
  <ul>
    <li class="nav-item"><span>ЁЯПа рж╣рзЛржо</span></li>
    <li class="nav-item" onclick="toggleMenu('walletSub')">
      <span>ЁЯТ╝ ржУрзЯрж╛рж▓рзЗржЯ тЦ╛</span>
    </li>
    <ul class="submenu" id="walletSub">
      <li>ЁЯТ│ ржбрж┐ржкрзЛржЬрж┐ржЯ</li>
      <li>ЁЯТ░ ржЙржЗржержбрзНрж░рзЯ</li>
    </ul>
    <li class="nav-item" onclick="toggleMenu('historySub')">
      <span>ЁЯУЬ рж╣рж┐рж╕рзНржЯрзЛрж░рж┐ тЦ╛</span>
    </li>
    <ul class="submenu" id="historySub">
      <li>ЁЯОп ржмрзЗржЯрж╕ рж╣рж┐рж╕рзНржЯрзЛрж░рж┐</li>
      <li>ЁЯТ╡ ржбрж┐ржкрзЛржЬрж┐ржЯ рж╣рж┐рж╕рзНржЯрзЛрж░рж┐</li>
      <li>ЁЯПж ржЙржЗржержбрзНрж░рзЯ рж╣рж┐рж╕рзНржЯрзЛрж░рж┐</li>
      <li>ЁЯдЭ рж╕рзНржкржирзНрж╕рж░ рж╣рж┐рж╕рзНржЯрзЛрж░рж┐</li>
      <li>ЁЯФД ржЯрзНрж░рж╛ржирзНрж╕ржлрж╛рж░ рж╣рж┐рж╕рзНржЯрзЛрж░рж┐</li>
      <li>ЁЯУВ ржЯрзНрж░рж╛ржиржЬрзЗржХрж╢ржи рж╣рж┐рж╕рзНржЯрзЛрж░рж┐</li>
    </ul>
    <li class="nav-item" onclick="toggleMenu('settingSub')">
      <span>тЪЩ рж╕рзЗржЯрж┐ржВрж╕ тЦ╛</span>
    </li>
    <ul class="submenu" id="settingSub">
      <li>ржкрзНрж░рзЛржлрж╛ржЗрж▓</li>
      <li>ржкрж╛рж╕ржУрзЯрж╛рж░рзНржб ржкрж░рж┐ржмрж░рзНрждржи</li>
    </ul>
    <li class="nav-item"><span>ЁЯЪк рж▓ржЧржЖржЙржЯ</span></li>
  </ul>
  -->
</div>
</div>