<%- include('header') %>
<style>
  .blog-content{
    padding: 0 10px;
    
  }
  .blog-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 12px auto;
  border-radius: 6px;
}

.blog-content pre {
  overflow-x: auto;
}

.blog-content code.hljs {
  white-space: pre-wrap !important;
  word-break: break-word;
  font-size: 13px;
  line-height: 1.6;
}


</style>

<div class="blog-content"> <%- post.content %></div>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    hljs.highlightAll();
  });
</script>


<%- include('footer') %>