<%- include('header') %>
<style>
  .blog-content{
    padding: 0 10px;
    
  }
  .blog-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 12px auto;
  border-radius: 6px;
}




</style>

<div class="blog-content"> <%- post.content %></div>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    hljs.highlightAll();
  });
</script>


<%- include('footer') %>