<%- include('header') %>


<div class="blog-content"> <%- post.content %></div>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    hljs.highlightAll();
  });
</script>


<%- include('footer') %>