<!DOCTYPE html>
<html lang="bn">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>header</title>
  <link rel="stylesheet" href="/css/style.css" />
  <% if (dev === "devv") { %>
      
        
      
    <% } %>
  
   <script src="/socket.io/socket.io.js"></script>
  
  <script src="/js/script.js" defer></script>
</head>
<body>
  
  
  <nav>

        <div class="nav-container">

            <span class="logo"><a href="/" wiree:navigate>Nik<span>Jil</span></a></span>

           <ul class="nav--ul__two">
             
          <!--      <span class="balance" id="taka56">{{ Auth::user()->balance }} BDT</span> -->
         
                    <span class="balance"><a href="login" wiree:navigate>Login</a></span>
                    <span class="balance"><a href="Signup">Signup</a></span>
                     
                 <span id="openmenu" class="mmm" style="font-size:25px;cursor:pointer;" >&#9776;</span> 
                </ul>
        </div>
</nav>
