<!DOCTYPE html>
<html lang="bn">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>header</title>
  <link rel="stylesheet" href="/css/style.css" />
   <script src="/js/eruda.js"></script>
  <script>
    eruda.init(); // Console চালু হবে
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js" defer></script>
</head>
<body>