<!DOCTYPE html>
<html lang="bn">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>header</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="manifest" href="/manifest.json">
  <% if (dev === "devv") { %>
      
        
      
    <% } %>
    <script src="/js/eruda.js"></script>
  <script>
    eruda.init(); // Console চালু হবে
  </script>
  
   <script src="/socket.io/socket.io.js"></script>
  
  <script src="/js/script.js" defer></script>
</head>
<body>
  
   <!-- 🌊 Splash Screen -->
   
<% if (typeof showSplash !== 'undefined' && showSplash) { %>
  <!-- Splash code -->

  <div id="splash" class="splash-screen">
    <div class="splash-content">
      <img src="/img/logo.png" alt="Logo" class="logo" />
      <h1 class="app-name">Man99</h1>
      <div class="loader"></div>
    </div>
  </div>
  <script>
    const wait = 3 * 1000;
    const splash = document.getElementById("splash");
   // const main = document.getElementById("main");

    setTimeout(() => {
      splash.classList.add("fade-out");
      setTimeout(() => {
        splash.style.display = "none";
       // main.classList.remove("hidden");
       // main.classList.add("fade-in");
      }, 800);
      }, wait);
  </script>
   <% } %>
  
  <%- include('partials/header-navbar') %>
  <%- include('partials/sideNavBar') %>