<!DOCTYPE html>
<html lang="bn">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
   <script src="/js/eruda.js"></script>
  <script>
    eruda.init(); // Console ржЪрж╛рж▓рзБ рж╣ржмрзЗ
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js" defer></script>
</head>
<body>
  <h1><%= title %></h1>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" placeholder="Typing...." />
    <button>ржкрж╛ржарж╛ржи</button>
  </form>

  <button onclick="sendNotification()">ЁЯФФ ржирзЛржЯрж┐ржлрж┐ржХрзЗрж╢ржи ржкрж╛ржарж╛ржУ</button>

    <script>
      function sendNotification() {
        if ("Notification" in window) {
  Notification.requestPermission().then(permission => {
    if (permission === "granted") {
      new Notification("ЁЯФФ ржирждрзБржи ржорзЗрж╕рзЗржЬ", {
        body: "ржПржЯрж┐ рж╕рж╛ржзрж╛рж░ржг ржирзЛржЯрж┐ржлрж┐ржХрзЗрж╢ржи",
        icon: "icon.png"
      });
    }
  });
}
      }
    </script>
  
</body>
</html>