

<%- include('header') %>
<style>
  
  
</style>

<div class="home-container">
  
<h1>Wellcome, <%= data.username %></h1>
<h1>Tk, <%= data.Amount %></h1>

<p>আপনি সফলভাবে লগইন করেছেন।</p>

<a href="/logout">Logout</a>

<input id="msg">
<button onclick="sendMsg()">Send</button>
<h1 id="messages"></h1>

</div>

<h1 id="userList"></h1>
<%- include('footer') %>