

<%- include('header') %>
<h1>Wellcome, <%= user.username %></h1>

<p>আপনি সফলভাবে লগইন করেছেন।</p>

<a href="/logout">Logout</a>

<input id="msg">
<button onclick="sendMsg()">Send</button>
<ul id="messages"></ul>


<ul id="userList"></ul>
<%- include('footer') %>