<%- include('header') %>


            <form class="login-form" id="loginForrm" method="post" action="/signup">
                <h2 class="form-title">Sign Up</h2>
                
                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="input-container">
                        <input type="text" id="username" name="user" placeholder="Username" >
                        <span class="icon">👤</span>
                    </div>
                    <% if (errors.user) { %>
  <div class="error"><%= errors.user %></div>
  <% } %>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-container">
                        <input type="password" name="pass" id="password" placeholder="Password" >
                        <button type="button" class="password-toggle" id="togglePassword">👁️</button>
                    </div>
                    <% if (errors.pass) { %>
      <div class="error">
        
        <%= errors.pass %>
      </div>
      
    <% } %>
                </div>
                
                
                <button type="submit" class="btn">Sign Up</button>
                
                <div class="signup-link">
                    Already Account <a href="/login">Login</a>
                </div>
            </form>



<%- include('footer') %>