
/*odd regular*/
.odds-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.odds-wrapper .market-group {
  
}

.odds-wrapper .market-title {
  font-size: 13px;
  color: #9cc4ff;
  background:linear-gradient(180deg,#155226,#0f3d18);
  padding:12px;
  margin-bottom: 5px;
  border:1px solid rgba(255,255,255,0.18);
  box-shadow:0 8px 25px rgba(0,0,0,0.18);
}

.odds-wrapper .odd-row {
  display: inline-block;
  gap: 10px;
  width: calc(50% - 12px);
}

.odds-wrapper .odd-box {
  background: #2b27ef;
  border-radius: 6px;
  padding: 6px;
  text-align: center;
  min-width: 70px;
  margin: 12px 8px;
}

.odd-name {
  display: block;
  color: #b1b1b1;
  font-size: 12px;
}

.odds-wrapper .odd-btn {
  margin-top: 4px;
  width: 100%;
  padding: 6px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}








/* Odds flash increase / decrease */
.odds-wrapper .odds-increase { animation: oddsIncrease 1s ease; background: green; }
.odds-wrapper .odds-decrease { animation: oddsDecrease 1s ease; background: red; }
@keyframes oddsIncrease { 0% { transform: scale(1.1); } 100% { transform: scale(1); background: transparent; color: inherit; } }
@keyframes oddsDecrease { 0% { transform: scale(1.1); } 100% { transform: scale(1); background: transparent; color: inherit; } }

/* Modal */
.placebetviewmodal { display: none; position: fixed; z-index: 1000; left:0; top:0; width:100%; height:100%; background: rgba(0,0,0,0.5); justify-content:center; align-items:center; }
.placebetviewmodal .modal-content { background:#073615; padding:20px; border-radius:8px; width:300px; text-align:center; position: relative; }
.placebetviewmodal .close-btn { position:absolute; top:10px; right:15px; cursor:pointer; font-size:30px; }





/*Lock button*/
.odds-wrapper .odd-btn:disabled {
  
  cursor: not-allowed;
  opacity: 0.9;
}

/* Lock Icon Show When Disabled */
.odds-wrapper .odd-btn:disabled::after {
  content: "🔓";
  font-size: 18px;
}