.bottom-tab {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: linear-gradient(90deg,#0d4a1a,#0f7a34);;
    color: white;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
  }
  .tab {
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    flex: 1;
  }
  .tab.active {
    background-color: red;
  }