 /* public/style.css */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background: #111;
  padding: 10px 0;
}

.bottom-nav a {
  color: #aaa;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

.bottom-nav a.active {
  color: #00ff88;
  font-weight: bold;
}

.bottom-nav a i {
  display: block;
  font-size: 18px;
}




#loadingIndicator {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}