/* Match Live */
   .match-wrapper {
  display: flex;
  justify-content: center;
  padding: 8px 10px;
  background: black;
}
.match-wrapper .matchscore {
  width: 100%;
  max-width: 420px;
  background: linear-gradient(135deg, #586559, #335440);
  padding: 15px;
  color: #fff;
 /* box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.25);
*/
}

/* Header */
.match-wrapper .match-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  gap:15px;
}
.match-wrapper .title { 
/*font-size: 20px; */
font-weight: bold; 
  
}
.match-wrapper .status.live {
  padding: 4px 12px;
  background: #ff0000cc;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Players Area */
.match-wrapper .teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0;
}

.match-wrapper .team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-wrapper .team .name {
 /* font-size: 18px;
  font-weight: 600; */
}

.match-wrapper .team .serve {
  font-size: 18px;
  margin: 5px 0 0;
  opacity: 1;
  display: inline-block;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.match-wrapper .team .serve.off {
  opacity: 0;
}

.match-wrapper .team .score {
  font-size: 32px;
  margin-top: 6px;
  font-weight: bold;
}

.match-wrapper .team .points {
  font-size: 16px;
  margin-top: 5px;
  background: #ffffff33;
  padding: 4px 10px;
  border-radius: 6px;
}

.match-wrapper .vs {
  font-size: 20px;
  font-weight: bold;
  
}

/* Set Table */
.match-wrapper .newset {
  display: flex;
  gap: 12px;                /* Box gap */
  margin-top: 12px;
  flex-wrap: wrap;          /* ছোট স্ক্রিনে নিচে নেবে */
  justify-content: center;
}

.match-wrapper .set-box {
 /* background: linear-gradient(120deg, #0d4a1a, #0f7a34);*/
  padding: 8px 14px;
  /*border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.15);
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);*/
  color: #fff;
  min-width: 60px;
  text-align: center;
}
.match-wrapper .set-box { padding:5px 10px; border:1px solid #ccc; border-radius:5px; }

.match-wrapper .set-name {
  display: block;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 4px;
}

.match-wrapper .set-score {
  display: block;
  font-size: 16px;
  font-weight: bold;
}


/*SURU Score flash */
.match-wrapper .flash { animation: flashScore 1.5s ease; }
@keyframes flashScore { 0% { background: green; transform: scale(1.15); } 100% { background: transparent; transform: scale(1); } }