.match { background:#2e7d32; padding:10px; margin:10px 10px; border-radius:8px; }

    .team { display:flex; justify-content:space-between; margin:5px 0; flex-wrap:wrap; gap:5px; }
    
    .btn { background:#1b2a12; color:#fff; border:none; border-radius:5px; padding:5px 10px;  }
    .oddd{
      
      background:#2e7d32;
      border-radius:10px
      padding:5px 10px;
    }
    
   
    
    .modal { display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7); justify-content:center; align-items:center; }
    
    .modal-content { background:#222; padding:20px; border-radius:10px; text-align:center; width:300px; }
    
    .close { float:right; cursor:pointer; color:red; }