.match { 
  background: linear-gradient(135deg, #21211d, #214224); 
  padding:10px; 
  margin:10px 10px; 
  border-radius:8px; }

    .team { 
      display:flex; 
      justify-content:space-between; 
      margin:5px 0; 
      flex-wrap:wrap; gap:5px;
      }
    
   .match .btn { 
     background:#1b2a12; 
     color:#fff; 
     border:none; 
     border-radius:5px; 
     padding:5px 10px;  
     
   }
  .match  .oddd{
      
      background:linear-gradient(135deg, #9f9f42, #214224);
      border-radius:10px
      padding:5px 10px;
    }
    
   /* Place BET MODAL */
    
    .placebetmodal { 
      display:none; 
      position:fixed; 
      top:0; 
      left:0; 
      width:100%; 
      height:100%; 
      background:rgba(0,0,0,0.7); 
      justify-content:center; 
      align-items:center; }
    
    .placebetmodal-content { 
      background:#073615; 
      padding:20px; 
      border-radius:10px; 
      text-align:center; 
      width:300px; 
      
    }
    
    .placebetclose { 
      float:right; 
      cursor:pointer; 
      color:red; 
      font-size: 30px; 
  text-transform: uppercase;
  font-weight: bold;
    }