.navbar-main {
   display: none;  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  overflow: hidden;
  top: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
   /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    
  }
 .navbar-main .navbar{
   width: 250px;
    background: #073615;
    color: white;
    height: 100vh;
    padding: 7px 8px;
    box-sizing: border-box;
   
   
 }
 .navbar-main .sidenav-header{
   display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
   
 }
.navbar-main .titlelogo { 
font-size: 35px; 
font-weight: bold; 
  
}
.navbar-main .closenav {
  
  color: #ff0000cc;
  
  font-size: 30px; 
  text-transform: uppercase;
  font-weight: bold;
}