@import url("header-navbar.css");
@import url("sideNavBar.css");
@import url("loginsignupForm.css");
@import url("bottom-nav.css");
@import url("Splash.css");
@import url("showtoast.css");
@import url("Match.css");
@import url("tabs.css");
@import url("floating-col.css");
@import url("BetpageView.css");
@import url("LiveSportScore.css");
@import url("github-dark.min.css");

* {
  box-sizing: border-box;
  
}
/* link default behaviour restore */
a {
  text-decoration: none;
  color: inherit;
}

  body{
    height:100%;
    margin:0;
    overflow-x: hidden;
    
    
  }
        
        
        
        
    
    
   